@page
@model TaskForge.Pages.MyTaskModel
@{
    ViewData["Title"] = "My tasks";
    Layout = "_MainLayout";
}
<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                 @{
                    var TitleSort = "Title_asc";
                    if (Model.CurrentSort == "Title_asc") {
                        TitleSort = "Title_desc";
                    } else if (Model.CurrentSort == "Title_desc") {
                        TitleSort = "None";
                    }
                }
                <a asp-page="/MyTasks" asp-route-PageNum="@Model.PageNum" asp-route-CurrentSort="@TitleSort">@Html.DisplayNameFor(model => model.Tasks[0].Title)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tasks[0].Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Visable) {
        <tr>
            <td>
                @item.Title
            </td>
            <td>
                @item.Description
            </td>
            <td>
                <form method="post">
                    <input type="hidden" asp-for="TaskIdToDelete" value="@item.WorkerTaskID" />
                    <input type="submit" asp-page-handler="RemoveTask" value="Remove Task" class="btn btn-danger btn-sm" />
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
<hr />
@{
    var prevDisabled="";
    var nextDisabled="";
    if (Model.PageNum <= 1) {
        prevDisabled = "disabled";
    }
    if (Model.PageNum >= Model.PagesNeeded) {
        nextDisabled = "disabled";
    }
}
<nav aria-label="Worker Navigation">
    <ul class="pagination">
        <li class="page-item @prevDisabled"><a class="page-link" asp-page="./NewTasks" asp-route-PageNum="@(Model.PageNum - 1) " asp-route-CurrentSort="@Model.CurrentSort">Previous</a></li>
        <li class="page-item @nextDisabled"><a class="page-link" asp-page="./NewTasks" asp-route-PageNum="@(Model.PageNum + 1)" asp-route-CurrentSort="@Model.CurrentSort">Next</a></li>
    </ul>
</nav>

@section Scripts {
    @{await Html.RenderPartialAsync("_validationScriptsPartial");}
}